/* .job-carousel {
  display: flex;
  animation: scroll 20s linear infinite; 
} */

/* 
.job-carousel-container {
  overflow: hidden;
  width: 100%;
}
.job-carousel {
    display: flex;
    animation: scroll var(--animation-duration, 20s) linear infinite;
  }
  

.ad-job-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 14rem;
  height: 4rem;
  margin-right: 1rem;
  background-color: #f0f0f0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */
.job-carousel-container {
  overflow: hidden;
  width: 100%;
}

.job-carousel {
  display: flex;
  animation: scroll 20s linear infinite;
}

.ad-job-card {
  flex: 0 0 auto;
  width: fit-content;
  height: 4rem;
  margin-right: 1rem;
  background-color: #f0f0f0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* .job-carousel-container:hover .job-carousel {
  animation-play-state: paused;
} */

/* .ad-job-card:hover {
  border: 2px solid rgb(28, 45, 78);
} */

.ad-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(28, 45, 78);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}