.job-card {
  box-sizing: border-box;
  width: 20rem;
  height: 15rem;
  /* background: rgba(217, 217, 217, 0.58); */
  background-color: rgb(83, 136, 167);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: white;
}

.job-card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.job-card-content p {
  margin-top: 4rem;
}
